section.equal-height div.elementor-widget-wrap > div {
    display: flex;
    height: 100%;
    a.elementor-cta {
        @include flex;
        @include flex-direction( column );
        height: 100%;
        &:hover {
            text-decoration: none;
        }
        .elementor-cta__content {
            flex-grow: 1;
            align-content: flex-start;
        }
    }
}

.elementor-widget-text-editor {
    a {
        color: #116a96;
    }
    p:last-child {
        margin-bottom: 0;
    }
    hr {
        border-top: solid 1px #9f053e;
        padding: 10px 0;
    }
    &.link-list {
        a, b, strong {
            color: #116a96;
            font-size: 22px;
            font-weight: normal;
        }
    }
}

.elementor-widget-call-to-action {
    a.elementor-cta:hover {
        text-decoration: none;
    }
    &.img-border {
        .elementor-cta__bg-wrapper {
            border: solid 3px #ffffff;
        }
    }
    &.bottom-gradient {
        .elementor-widget-container {
            .elementor-cta__bg-wrapper:after {
                content: '';
                width: 100%;
                height: 140px;
                position: absolute;
                bottom: 0;
                background: #3a3a3a;
                background: linear-gradient(0deg,
                    hsl(0, 0%, 20%) 0%,
                    hsla(0, 0%, 20%, 0.738) 19%,
                    hsla(0, 0%, 20%, 0.541) 34%,
                    hsla(0, 0%, 20%, 0.382) 47%,
                    hsla(0, 0%, 20%, 0.278) 56.5%,
                    hsla(0, 0%, 20%, 0.194) 65%,
                    hsla(0, 0%, 20%, 0.126) 73%,
                    hsla(0, 0%, 20%, 0.075) 80.2%,
                    hsla(0, 0%, 20%, 0.042) 86.1%,
                    hsla(0, 0%, 20%, 0.021) 91%,
                    hsla(0, 0%, 20%, 0.008) 95.2%,
                    hsla(0, 0%, 20%, 0.002) 98.2%,
                    hsla(0, 0%, 20%, 0) 100%
                  );
                z-index: 2;
            }
        }
    }
}

.elementor-widget-image-box {
    &.img-border {
        .elementor-image-box-img {
            border: solid 3px #ffffff;
        }
    }
}


.elementor-lightbox {
    .elementor-lightbox-item {
        padding: 40px;
    }
    .elementor-lightbox-image {
        max-height: 75vh;
    }
}


// .elementor-widget-slides .swiper-slide {
//     position: relative;
//     &:after {
//         content: '';
//         display: block;
//         position: absolute;
//         bottom: 0;
//         width: 100%;
//         height: 240px;
//         background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(0,40,120,1) 100%);
//     }
//     .swiper-slide-inner {
//         z-index: 2;
//     }
// }

