.elementor-widget-html {
    .ctct-form-embed.form_2 .ctct-form-defaults {
        background-color: transparent;
    }
    .ctct-form-embed.form_2 .ctct-form-defaults .ctct-form-text,
    .ctct-form-embed.form_2 .ctct-form-custom .ctct-form-label,
    .ctct-form-embed.form_2 .ctct-form-custom .ctct-form-listname,
    .ctct-form-embed.form_2 .ctct-form-custom .ctct-form-lists-legend,
    .ctct-form-embed.form_2 .ctct-form-custom .ctct-form-date-slash,
    .ctct-form-embed.form_2 .ctct-form-defaults .ctct-gdpr-text,
    .ctct-form-embed.form_2 .ctct-form-defaults .ctct-gdpr-text .ctct-form-footer-link,
    .ctct-form-embed.form_2 .ctct-form-defaults .ctct-gdpr-text .ctct-form-footer-privacy-link {
        color: #ffffff;
    }
}

.gform_wrapper.gravity-theme .gfield_label {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.gform_wrapper.gravity-theme .gform_footer button,
.gform_wrapper.gravity-theme .gform_footer input,
.gform_wrapper.gravity-theme .gform_page_footer button,
.gform_wrapper.gravity-theme .gform_page_footer input {
    @apply bg-colby-orange;
    color: #ffffff;
    @include border-radius(4px);
    border: solid 2px #e16f4b;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}
